<div>
    <form [formGroup]="stockForm" (ngSubmit)="Submit()" autocomplete="off" novalidate fxLayout="column wrap"
          fxLayoutGap="10px">
  
      <br>
  
      <mat-card-content fxLayout="column" fxLayoutAlign="space-between center" >
        <mat-card-title>Créer Stock</mat-card-title>
  
        <mat-form-field>
          <mat-label>Quantite minimale :</mat-label>
          <input matInput type="text" id="qteMin" required
                 name="code" formControlName="qteMin">
          <mat-hint align="end"></mat-hint>
          <mat-error *ngIf="stockForm.errors?.invalid">Required field</mat-error>
        </mat-form-field>

        <mat-form-field>
          <mat-label>Quantite :</mat-label>
          <input matInput type="text" id="qte" required
                 name="code" formControlName="qte">
          <mat-hint align="end"></mat-hint>
          <!--<mat-error *ngIf="stock.qte < stock.qteMin">Required field</mat-error>-->
        </mat-form-field>
  
        <mat-form-field>
          <mat-label>libelle :</mat-label>
          <input matInput type="text" id="libelle" required
                 formControlName="libelle">
          <mat-error *ngIf="stockForm.invalid">Required field</mat-error>
        </mat-form-field>
      </mat-card-content>
      
      <mat-card-actions fxLayoutAlign="center" fxLayoutGap="10px">
        <button type="submit" mat-raised-button color="primary" [disabled]="stockForm.invalid">Ajouter</button>
      </mat-card-actions>
  
    </form>
  </div>
