<div class="card">
    <div class="card-body">
      <div class="col-10 mx-auto">
        <h2 class="text-center" [ngStyle]="{'font-weight': bold, 'font-style': italic}">Stocks</h2>
        <!-- <p> </p> -->
      </div>
      <br />
      <div class="row">
        <div class="col-10 mx-auto">
          <table id="example" class="table table-striped table-bordered" style="width: 100%">
            <thead>
              <tr>
                <th scope="col">libelle</th>
                <th scope="col">Quantite minimale</th>
                <th scope="col">Quantite </th>
              </tr>
            </thead>
            <tbody>
  
              <tr *ngFor="let s of stockList">
                <td>{{s.libelle}}  </td>
                <td>{{s.qteMin}}  </td>
                <td>{{s.qte}}  </td>
                <td>
                  <button mat-icon-button (click)="deleteStock(s.idStock)" color="warn">
                    <mat-icon>delete_outline</mat-icon>
                  </button>
                </td>
                <td>
                  <button class="btn btn-primary" (click)="updateStock(s.idStock)">Modifier </button> <span>&nbsp;</span>
                </td>
              </tr>
  
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  

  <app-warning></app-warning>


  
