<mat-toolbar color="primary">
  
  <span>Magasin-esprit</span>
  <div class="spacer">


    
    <a mat-button routerLink="/home">Home</a>
    <a mat-button routerLink="/products">Products</a>
    <a mat-button routerLink="/facture">Facture</a>
    <a mat-button>About</a>
  </div>


  <div>

    <div class="example-button-row">
      <button mat-raised-button>Login</button>
      <button mat-raised-button color="accent">Sign-up</button>
      <button mat-raised-button disabled>Disconnect</button>
    </div>

  </div>
</mat-toolbar>
