<p>products-list works!</p>
<<div class="card">
  <div class="card-body">
    <div class="col-10 mx-auto">
      <h2 class="text-center">Employees List</h2>
      <!-- <p> </p> -->
    </div>
    <br />
    <div class="row">
      <div class="col-10 mx-auto">
        <table id="example" class="table table-striped table-bordered" style="width: 100%">
          <thead>
            <tr>
              <th scope="col">code</th>
              <th scope="col">libelle</th>
              <th scope="col">prixUnitaire</th>
              <th scope="col">categorieProduit</th>
            </tr>
          </thead>
          <tbody>

            <tr *ngFor="let product of productList">
              <td>{{product.code}}  </td>
              <td>{{product.libelle}}  </td>
              <td>{{product.prixUnitaire}}  </td>
              <td>{{product.categorieProduit}}  </td>
              <td>
                <button class="btn btn-primary"><fa-icon [icon]="faEye"></fa-icon> </button> <span>&nbsp;</span>
              </td>
            </tr>

          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>