.spacer{
    flex: 1 1 auto;
    color: aliceblue;
  }
  body {
    overflow-x: hidden;
    color: #505962;
  }
  
  .service-wrap {
    z-index: -999 !important;
  }
  
  .service-background {
    padding: 5rem 0;
    z-index: 1000 !important;
    
  }
  
  #contact {
    z-index: 1000;
  }
  
  .caption{
    top:35%;
  }
  
  
  /*============= FOOTER =============*/
  
  
  /*===== FIXED BACKGROUND IMG =====*/
  .fixed {
    position: fixed;
    /* The element is positioned relative to the viewport which means it always stays in the same place even if the page is scrolled.*/
    display: block;
    /* An element starts on a new line and takes the whole width. */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    /* The background image covers the entire container even if it's stretched or croped */
    background-position: center center;
  }
  
  .fixed-background {
    position: relative;
    /* The element is positioned relative to its normal position + set the top, bottom... properties to adjust the position */
    width: 100%;
  }
  
  .fixed-wrap {
    clip: rect(0, auto, auto, 0);
    /*clip-path: inset(10%, 10%, 10%, 10%);*/
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  
  /*============= MEDIA QUERIES =============*/
  
  /* Devices under 1199px (xl) */
  @media (min-width: 1200px) {
  }
  /* Devices under 992px (lg) */
  @media (max-width: 992px) {
    
  }
  /* Devices under 768px (md) */
  @media (max-width: 768px) {
    
  }
  /* Devices under 576px (sm) */
  @media (max-width: 576px) {
    
  }
  footer li{
    list-style-type: none;
  }
  footer a{
    color: red;
  }
  
  body {
    padding-top: 3rem;
    padding-bottom: 3rem;
    color: #5a5a5a;
  }
  
  
  /* CUSTOMIZE THE CAROUSEL
  -------------------------------------------------- */
  
  /* Carousel base class */
  .carousel {
    margin-bottom: 4rem;
  }
  /* Since positioning the image, we need to help out the caption */
  .carousel-caption {
    bottom: 3rem;
    z-index: 10;
  }
  
  /* Declare heights because of positioning of img element */
  .carousel-item {
    height: 32rem;
  }
  .carousel-item > img {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    height: 32rem;
  }
  
  
  /* MARKETING CONTENT
  -------------------------------------------------- */
  
  /* Center align the text within the three columns below the carousel */
  .marketing .col-lg-4 {
    margin-bottom: 1.5rem;
    text-align: center;
  }
  .marketing h2 {
    font-weight: 400;
  }
  /* rtl:begin:ignore */
  .marketing .col-lg-4 p {
    margin-right: .75rem;
    margin-left: .75rem;
  }
  /* rtl:end:ignore */
  
  
  /* Featurettes
  ------------------------- */
  
  .featurette-divider {
    margin: 5rem 0; /* Space out the Bootstrap <hr> more */
  }
  
  /* Thin out the marketing headings */
  .featurette-heading {
    font-weight: 300;
    line-height: 1;
    /* rtl:remove */
    letter-spacing: -.05rem;
  }
  
  
  /* RESPONSIVE CSS
  -------------------------------------------------- */
  
  @media (min-width: 40em) {
    /* Bump up size of carousel content */
    .carousel-caption p {
      margin-bottom: 1.25rem;
      font-size: 1.25rem;
      line-height: 1.4;
    }
  
    .featurette-heading {
      font-size: 50px;
    }
  }
  
  @media (min-width: 62em) {
    .featurette-heading {
      margin-top: 7rem;
    }
  }

  .bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
  }

  @media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
  }
  #invoice{
    background: #000; border-radius: 0.25em; color: #FFF; margin: 0 0 1em; padding: 0.5em 0;
}
h1 { font: bold 100% sans-serif; letter-spacing: 0.5em; text-align: center; text-transform: uppercase; }
header h1 {   border-radius: 0.25em ; margin: 0 0 1em; padding: 0.5em 0; }