<title>Facture</title>

<link href='https://css.gg/trash.css' rel='stylesheet'>
<link href='https://css.gg/add.css' rel='stylesheet'>
<link href='https://css.gg/edit-markup.css' rel='stylesheet'>
<div class="card-body">
    <h1 class="card-title" style=""><b>Gestion Des Factures</b></h1>
    <header>
      <h1 id='invoice'>Bienvenu a notre espace</h1>
      </header>
   




    <div id="myCarousel" class="carousel slide" data-bs-ride="carousel" >
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-current="true"
            aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg"
              aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false">
              <rect width="100%" height="100%" fill="#777" /></svg>
              <img src="assets/15.jpg" >
  
            <div class="container">
                
              <div class="carousel-caption text-start">
                
                
                <h1> </h1>
                <p> </p>
                <h1><a class=" btn btn-lg btn-primary  "  href="#" routerLink="/facture/listf"> Acceder aux Factures et paiement</a></h1>
                 
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg"
              aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false">
              <rect width="100%" height="100%" fill="#777" /></svg>
              <img src="assets/13.jpg" >
  
            <div class="container">
              <div class="carousel-caption">
                <h1> </h1>
                <p> </p>
                <h1><a class=" btn btn-lg btn-primary  " href="#" routerLink="/facture/listf"> Acceder aux Factures et paiement</a></h1>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg"
              aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false">
              <rect width="100%" height="100%" fill="#777" /></svg>
              <img src="assets/14.jpg" >
  
            <div class="container" style="background-color: moccasin;">
              <div class="carousel-caption text-end" >
                <h1> </h1>
                <p> </p>
                <h1><a class="btn btn-lg btn-primary   " href="#" routerLink="/facture/listf" > Acceder aux Factures et paiement</a></h1>
              </div>
            </div>
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>










   <!-------<div class="table-responsive">
       
       <br>
    <table id="datatableexample"  class="table table-striped table-dark" >
    <thead >

   
        <tr >
         
            <th >Montant Remise</th>
            <th >Montant Facture</th>
            <th >Date</th>
            <th>Active</th>
            
         
            <th>modifier</th>
            <th>supprimer</th>
           
           

        </tr>
    </thead>
   
    <tbody>

       
            <tr *ngFor="let fac of listfacture" >
         
            <td >{{fac.montantRemise}}</td>
            <td>{{fac.montantFacture}}</td>
            <td>{{fac.dateFacture | date:'MM/dd/yyyy'}}</td>
           <td>{{fac.active}}</td>
          
           
        <td>   <a class="gg-edit-markup"  (click)="update(fac.idFacture,fac)" onClick="window.location.reload();"><i class="icon_close_alt2"></i></a>   </td>
    <td>    <a class="gg-trash" (click)="delete(fac.idFacture)" onClick="window.location.reload();"><i class="icon_close_alt2"></i></a>
    </td>  
             
           
         
     



        </tr>
    </tbody>
</table>
</div>



</div>
<div >
<div class="card-body ">
    <div class="card-title   " style="padding-left: 42%;"><h1><b> Ajouter Une Facture</b></h1></div>
    <hr>
    <form [formGroup]="factureForm" (ngSubmit)="handelSubmit() " style=" color: #f5fffafb; background-color:#673ab7">
    <div class="form-group">
     <label for="input-1"><b>Montant Remise</b></label>
     <input type="number" class="form-control"  formControlName="montantRemise" id="montantRemise" placeholder="Entrer votre montant remise">
    </div>
    <div class="form-group">
     <label for="input-2"><b>Montant Facture</b></label>
     <input type="number" class="form-control" formControlName="montantFacture"id="montantFacture" placeholder="Entrer votre montant facture">
    </div>
    <div class="form-group">
     <label for="input-3"><b>Date</b> </label>
     <input type="date" class="form-control"  formControlName="dateFacture"id="dateFacture" placeholder="choisir la date">
    </div>
       
    <div class="form-group py-2">
        <div class="icheck-material-white">
       <input type="checkbox" formControlName="active" id="active" checked=""/>
       <label for="active"><b>Active</b></label>
       </div>
      </div>
     
   
   
    <div class="form-group">
     <button type="submit" class="btn btn-success" onClick="window.location.reload();"><i class="icon-lock"></i> Register</button>
   </div>
   
   </form>
   
</div>
</div>------>


 
    <!---end slide--->
    <!---start usersList section--->
    <h1><b> Avis De Nos Clients</b></h1>
    <div class="row" style="background-color: moccasin;">
      <div class="col-md-3 " style="background-color: moccasin;">
        <div class="card" style="width: 18rem;">
          <img src="assets/admin.png" class="card-img-top" alt="...">
          <div class="card-body">
            <h3 class="card-title"><b>Theo</b></h3>
            <p class="card-text"> Une application securisé et de confiance je suis vraiment satisfait</p>
             
          </div>
        </div>
      </div>

   
        <div class="col-md-3 " style="background-color: moccasin;">
          <div class="card" style="width: 18rem;">
            <img src="assets/golden.png" class="card-img-top" alt="...">
            <div class="card-body">
              <h3 class="card-title"> <b>Elena</b></h3>
              <p class="card-text">Une Bonne gestion de facture bravo a toute l' equipe</p>
               
            </div>
          </div>
        </div>
     
     
     
       


      <div class="col-md-3">
        <div class="card" style="width: 18rem;">
          <img src="assets/admin.png" class="card-img-top" alt="...">
          <div class="card-body">
            <h3 class="card-title"><b> Thomas</b></h3>
            <p class="card-text">Je suis vraiment satisfait ,mes factures sont vraiment gérables... </p>
          
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card" style="width: 18rem;">
          <img src="../assets/golden.png" class="card-img-top" alt="...">
          <div class="card-body">
            <h3 class="card-title"><b>Sarah</b></h3>
            <p class="card-text"> Je ne peux qu'admirer la gestion de ce site.....</p>
            
          </div>
        </div>
      </div>
    </div>
    <!---end usersList section--->
  </div>












          
 

<div style="font-size: large; background-color: moccasin; padding-left: 2%"> 
<h1   ><b>Comment Box</b></h1>
 
<div class="mb-3" >
  <label for="exampleFormControlTextarea1" class="form-label">Ecrire un Commentaire</label>
  <textarea [(ngModel)]="comment" class="form-control" id="exampleFormControlTextarea1"  rows="3"></textarea>
</div>
 
<button class="btn btn-success " (click)="send()" >Send</button>
<hr>
<div *ngFor="let comments of postComment">
  <p>  {{comments}}</p></div>
  </div>

<app-footer [nameFromParent]="name"></app-footer>
















