<mat-nav-list>
    <br>
    <mat-card class="profile-card">
    
      <mat-card-header fxLayoutAlign="center center">
        <mat-card-title class="text-center">Welcome</mat-card-title>
        <mat-card-subtitle class="text-center">Testing</mat-card-subtitle>
      </mat-card-header>
  
    </mat-card>
    <br>
  
    <h2 matSubheader>Pages</h2>
  
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/">Dashboard</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/accounts">Comptes de scraping</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/users">Utilisateurs</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/searches">Recherche</a>
  
    <mat-divider></mat-divider>
  
    <h2 matSubheader>Tools</h2>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/advancedSearch">Recherche avancée</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/fastSearch">Recherche rapide</a>
    <!--
        <a mat-list-item routerLinkActive="list-item-active" routerLink="/profileDetails/5">Test Linkedin Profile</a>
    -->
  
  
  
  </mat-nav-list>
  