<mat-nav-list>
  <br>
  <mat-card class="profile-card">
    <div class="header">
      <h2>eprit-mag</h2>
      <h4>no@email.com</h4>
    </div>
    <img src="" alt="oh !?">
  </mat-card>
  <br>

  <h2 matSubheader>Advanced navigation</h2>

  <mat-list>
    <mat-list-item [matMenuTriggerFor]="menuc" aria-label="Example icon-button with a menu">
      <mat-icon mat-list-icon >folder</mat-icon>
      <mat-menu #menuc="matMenu">
        <button mat-menu-item routerLink="/client">
          <mat-icon>list</mat-icon>
          <span>list</span>
        </button>
        <button mat-menu-item routerLink="client/createClient">
          <mat-icon>add</mat-icon>
          <span>add</span>
        </button>
      </mat-menu>
      <div mat-line>Clients</div>
    </mat-list-item>
  </mat-list>

  <mat-list>
    <mat-list-item [matMenuTriggerFor]="menuf" aria-label="Example icon-button with a menu">
      <mat-icon mat-list-icon>folder</mat-icon>
      <mat-menu #menuf="matMenu">
        <button mat-menu-item routerLink="facture/listf">
          <mat-icon>list</mat-icon>
          <span>list</span>
        </button>
    
      </mat-menu>
      <div mat-line>Factures</div>
    </mat-list-item>
  </mat-list>

  <mat-list>
    <mat-list-item [matMenuTriggerFor]="menus" aria-label="Example icon-button with a menu">
      <mat-icon mat-list-icon>folder</mat-icon>
      <mat-menu #menus="matMenu">
        <button mat-menu-item routerLink="stocks/lists">
          <mat-icon>list</mat-icon>
          <span>list</span>
        </button>
        <button mat-menu-item routerLink="stocks/adds">
          <mat-icon>add</mat-icon>
          <span>add</span>
        </button>
      </mat-menu>
      <div mat-line>Stocks</div>
    </mat-list-item>
  </mat-list>

  <mat-list>
    <mat-list-item [matMenuTriggerFor]="menur" aria-label="Example icon-button with a menu">
      <mat-icon mat-list-icon>folder</mat-icon>
      <mat-menu #menur="matMenu">
        <button mat-menu-item routerLink="rayons/list">
          <mat-icon>list</mat-icon>
          <span>list</span>
        </button>
        <button mat-menu-item routerLink="rayons/add">
          <mat-icon>add</mat-icon>
          <span>add</span>
        </button>
      </mat-menu>
      <div mat-line>Rayons</div>
    </mat-list-item>
  </mat-list>

  <mat-list>
    <mat-list-item [matMenuTriggerFor]="menup" aria-label="Example icon-button with a menu">
      <mat-icon mat-list-icon>folder</mat-icon>
      <mat-menu #menup="matMenu">
        <button mat-menu-item routerLink="products/adminp">
          <mat-icon>list</mat-icon>
          <span>list</span>
        </button>
        <button mat-menu-item routerLink="products/listip">
          <mat-icon>list</mat-icon>
          <span>img-list</span>
        </button>
        <button mat-menu-item routerLink="products/addp">
          <mat-icon>add</mat-icon>
          <span>add</span>
        </button>
        <button mat-menu-item routerLink="products/addip">
          <mat-icon>add</mat-icon>
          <span>img-add</span>
        </button>
      </mat-menu>
      <div mat-line>Produits</div>
    </mat-list-item>
  </mat-list>

  <h2 matSubheader>Pages</h2>

  <a mat-list-item routerLinkActive="list-item-active" routerLink="/dashboard">
    <mat-icon>dashboard</mat-icon>Dashboard
  </a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/">
    <mat-icon>account_circle</mat-icon>Client
  </a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/products">
    <mat-icon>shop</mat-icon>Products
  </a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/facture">
    <mat-icon>attach_money</mat-icon>Invoice
  </a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/">
    <mat-icon>inventory_2</mat-icon>Stocks
  </a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/">
    <mat-icon>view_column</mat-icon>Rayon
  </a>

  <!-- <mat-divider></mat-divider>

  <h2 matSubheader>Tools</h2>

  <a mat-list-item routerLinkActive="list-item-active" routerLink="/">
    Test
  </a> -->

</mat-nav-list>
