<div class="row d-flex justify-content-center my-5">
    <div class="col-md-6 my-3">
        <form [formGroup]="EditClientRegisterForm">
            <div class="form-group">
                <label style="font-weight: bolder; font-size: large;">Update Client : * </label>
            </div>
        
            <div class="form-group">
                <label style="font-weight: bolder; font-size: large;">Email Client : * </label>
                <input class="form-control" type="email" formControlName="email" [(ngModel)]="client.email">
                <div class="alert alert-danger mt-2" *ngIf="EditClientRegisterForm.controls['email'].errors && EditClientRegisterForm.get('email').touched">
                    * The client email field is required !
                </div>
            </div>
            
	   <div class="form-group">
		<label style="font-weight: bolder; font-size: large;">Categorie Client : * </label>
                <select class="form-select form-select-sm" aria-label=".form-select-lg example"
                 class="form-control" formControlName="categorieclient" [(ngModel)]="client.categorieclient">
                  <option selected>ordinaire</option>
                  <option value="fidele">fidele</option>
                  <option value="premium">premium</option>
                </select>
                <div class="alert alert-danger" *ngIf="categorieclient.invalid && categorieclient.touched">
                    <div *ngIf="categorieclient.errors?.['required']">
                        * The categorie field is required ! Pick one!
                    </div>
                </div>
            </div>
        
            <div class="form-group">
		<label style="font-weight: bolder; font-size: large;">Profession Client : * </label>
                <select class="form-select form-select-sm" aria-label=".form-select-lg example"
                 class="form-control" formControlName="profession" [(ngModel)]="client.profession">
                 <option selected>docteur</option>
                 <option value="ingenieur">ingenieur</option>
                 <option value="etudiant">etudiant</option>
                 <option value="commercial">commercial</option>
                 <option value="cadre">cadre</option>
                 <option value="autre">autre</option>
             </select>
             <div class="alert alert-danger mt-2" *ngIf="EditClientRegisterForm.controls['profession'].errors && EditClientRegisterForm.get('profession').touched">
                    <div *ngIf="EditClientRegisterForm.controls['profession'].hasError('required')">* The profession field is required ! Pick one! </div>
             </div>
            </div>
     

            <div class="form-group">
 		<label style="font-weight: bolder; font-size: large;">Phone Number : * </label>
                <input class="form-control" type="number" formControlName="phone" [(ngModel)]="client.phone" pattern="[0-9]{8}">
                 <div class="alert alert-danger mt-2" *ngIf="EditClientRegisterForm.controls['phone'].errors && EditClientRegisterForm.get('phone').touched">
                    <div *ngIf="EditClientRegisterForm.controls['phone'].hasError('required')">* The phone field is required !</div>
                    <div *ngIf="EditClientRegisterForm.controls['phone'].hasError('pattern')">* The phone field must be 8 digits !</div>
                </div>
            </div>



         
            <div class="text-center">
                <button class="btn btn-success mb-3"  [disabled]="EditClientRegisterForm.invalid" (click)="editClient()">Edit Client</button>
            </div>
        </form>
    </div>
</div>