<div class="row d-flex justify-content-center my-5">
  <div class="col-md-6 my-3">
    <form #f="ngForm" class="form-group" (ngSubmit)="onUpdate()">
      <div class="form-group">
        <label>Nom : *</label>
        <input type="text" name="nom" class="form-control" [(ngModel)]="client.nom" #nom="ngModel" required
          pattern="[a-zA-Z]+" minlength="4">
        <div class="alert alert-danger" *ngIf="nom.touched && nom.invalid">
          <div *ngIf="nom.errors?.['required']">
            * The nom field is required !
          </div>
          <div *ngIf="nom.errors?.['minlength']">
            * The nom must contains at least 4 characters !
          </div>
          <div *ngIf="nom.errors?.['pattern']">
            * Wrong format for the nom field ! it must contain alphabatic characters only.
          </div>
        </div>
      </div>

      <div class="form-group">
        <label>Prenom : </label>
        <input type="text" name="prenom" class="form-control" [(ngModel)]="client.prenom" #prenom="ngModel" required
          pattern="[a-zA-Z]+" minlength="4">
        <div class="alert alert-danger" *ngIf="prenom.touched && prenom.invalid">
          <div *ngIf="prenom.errors?.['required']">
            * The prenom field is required !
          </div>
          <div *ngIf="prenom.errors?.['minlength']">
            * The prenom must contains at least 4 characters !
          </div>
          <div *ngIf="prenom.errors?.['pattern']">
            * Wrong format for the prenom field ! it must contain alphabatic characters only.
          </div>
        </div>
      </div>

      <div class="form-group">
        <label>Date de Naissance : *</label>
        <input type="date" name="dateNaissance" class="form-control" [(ngModel)]="client.dateNaissance"
          #dateNaissance="ngModel" required>
        <div class="alert alert-danger" *ngIf="dateNaissance.touched && dateNaissance.invalid">
          <div *ngIf="dateNaissance.errors?.['required']">
            * The dateNaissance field is required !
          </div>
        </div>
        <label style="font-weight: bolder; font-size: large;">Update Client : * </label>
      </div>



      <div class="form-group">
        <label>Email : *</label>
        <input type="text" name="email" class="form-control" [(ngModel)]="client.email" #email="ngModel" required
          pattern="[A-Za-z0-9-_.]+@[A-Za-z0-9]+.[A-Za-z]{2,4}">
        <div class="alert alert-danger" *ngIf="email.touched && email.invalid">
          <div *ngIf="email.errors?.['required']">
            * The email field is required !
          </div>
          <div *ngIf="email.errors?.['pattern']">
            * Wrong email format !
          </div>
        </div>
      </div>

      <div class="form-group">
        <label>Categorie Client :</label>
        <select class="form-select form-select-sm" aria-label=".form-select-lg example" name="categorieclient"
          class="form-control" [(ngModel)]="client.categorieclient" #categorieclient="ngModel">
          class="form-control" formControlName="categorieclient" [(ngModel)]="client.categorieclient">
          <option selected>ordinaire</option>
          <option value="fidele">fidele</option>
          <option value="premium">premium</option>
        </select>
      </div>

      <div class="form-group">
        <label>Profession :</label>
        <select class="form-select form-select-sm" aria-label=".form-select-lg example" name="profession"
          class="form-control" [(ngModel)]="client.profession" #profession="ngModel">
          <option selected>docteur</option>
          <option value="ingenieur">ingenieur</option>
          <option value="etudiant">etudiant</option>
          <option value="cadre">cadre</option>
          <option value="autre">autre</option>
        </select>
        <div class="alert alert-danger" *ngIf="profession.invalid && profession.touched">
          <div *ngIf="profession.errors?.['required']">
            * The profession field is required ! Pick one!
          </div>
        </div>
      </div>

      <div class="form-group">
        <label>Phone Number :</label>
        <input type="number" name="phone" class="form-control" [(ngModel)]="client.phone" #phone="ngModel"
          pattern="[0-9]{8}">
        <div class="alert alert-danger" *ngIf="phone.errors && phone.touched">
          <div *ngIf="phone.errors?.['pattern']">
            * The phone number field must contains 8 numbers !
          </div>
        </div>
      </div>

      <div class="form-group">
        <label>CIN : *</label>
        <input type="number" name="cin" class="form-control" [(ngModel)]="client.cin" #cin="ngModel" required
          pattern="[0-9]{8}">
        <div class="alert alert-danger" *ngIf="cin.errors && cin.touched">
          <div *ngIf="cin.errors?.['required']"> * The cin field is required !</div>
          <div *ngIf="cin.errors?.['pattern']"> * The cin field must contain 8 numbers !</div>
        </div>


        <div class="text-center">
          <button type="button" class="btn btn-success" [disabled]="f!.invalid" (click)="onUpdate()">
            Edit Client</button>
        </div>
      </div>
