<div class="col-md-10">
  <mat-card-title>Gestion des produits</mat-card-title>
</div>
<div fxLayout="row" fxLayoutAlign="end none" fxLayoutGap="10px">
  
  <button mat-raised-button (click)="addProduct()">
    <mat-icon>add</mat-icon>Create
  </button>

  <button mat-raised-button (click)="getProduct()">
    <mat-icon>refresh</mat-icon>Refresh
  </button>

</div>

<mat-form-field>
  <mat-label>Filter by libelle</mat-label>
  <input matInput (keyup)="applyFilter($event)" placeholder="Ex. mahdi">
</mat-form-field>

<mat-table mat-table #table [dataSource]="dataSource">

  <ng-container matColumnDef="code">
    <mat-header-cell *matHeaderCellDef>Code</mat-header-cell>
    <mat-cell *matCellDef="let element">{{element.code}}</mat-cell>
  </ng-container>


  <ng-container matColumnDef="libelle">
    <mat-header-cell *matHeaderCellDef>Libelle</mat-header-cell>
    <mat-cell *matCellDef="let element">{{element.libelle}}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="prixUnitaire">
    <mat-header-cell *matHeaderCellDef>Prix Unitaire</mat-header-cell>
    <mat-cell *matCellDef="let element">{{element.prixUnitaire}}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="categorieProduit">
    <mat-header-cell *matHeaderCellDef>Categorie Produit</mat-header-cell>
    <mat-cell *matCellDef="let element">{{element.categorieProduit}}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="Actions">
    <mat-header-cell *matHeaderCellDef></mat-header-cell>
    <mat-cell *matCellDef="let row">
      <button mat-icon-button (click)="updateProduit(row.idProduit)">
        <mat-icon>launch</mat-icon>
      </button>

      <button mat-icon-button (click)="deleteProduit(row.idProduit)" color="warn">
        <mat-icon>delete_outline</mat-icon>
      </button>
    </mat-cell>
  </ng-container>



  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

</mat-table>