<div class="row d-flex justify-content-center my-5">
    <div class="col-md-6 my-3">
    <form [formGroup]="signupForm" (ngSubmit) = "onSubmit()" >
        
        <div class="form-group">
            <label>idClient</label>
            <input type="number" formControlName="idClient">
            <div class="alert alert-danger" *ngIf="idClient?.invalid && idClient?.touched">
                <div *ngIf="idClient?.errors?.['required']">
                    required
                </div>
            </div>
        </div>
        
        <div class="form-group">    
            <label>Nom : *</label>
            <input type="text" name="nom" formControlName="nom">
            <div class="alert alert-danger" *ngIf="nom?.invalid && nom?.touched">
                <div *ngIf="nom?.errors?.['required']">
                    * The nom field is required !
                </div>
                <div *ngIf="nom?.errors?.['minlength']">
                    * The nom must contains at least 4 characters !
                </div>
                <div *ngIf="nom?.errors?.['pattern']">
                    * Wrong format for the nom field ! it must contain alphabatic characters only.
                </div>
            </div>
        </div>

        <div class="form-group">
            <label>Prenom : *</label>
            <input type="text" name="prenom" formControlName="prenom">
            <div class="alert alert-danger" *ngIf="prenom!.invalid && prenom!.touched">
                <div *ngIf="prenom!.errors?.['required']">
                    * The nom field is required !
                </div>
                <div *ngIf="prenom!.errors?.['minlength']">
                    * The nom must contains at least 4 characters !
                </div>
                <div *ngIf="prenom!.errors?.['pattern']">
                    * Wrong format for the prenom field ! it must contain alphabatic characters only.
                </div>
            </div>
        </div>

        <div class="form-group">
            <label>Date of Birth : *</label>
            <input type="date" name="dateNaissance" formControlName="dateNaissance">
            <div class="alert alert-danger" *ngIf="dateNaissance!.invalid && dateNaissance!.touched">
                <div *ngIf="dateNaissance!.errors?.['required']">
                    * The dateNaissance field is required !
                </div>
            </div>
        </div>

        <div class="form-group">
            <label class="text-center">Email : *</label>
            <input type="email" name="email" formControlName="email">
            <div class="alert alert-danger" *ngIf="email!.invalid && email!.touched">
                <div *ngIf="email!.errors?.['required']">
                    * The email field is required !
                </div>
                <div *ngIf="email!.errors?.['pattern']">
                    * Wrong email format !
                </div>
            </div>
        </div>

        <div class="form-group">
            <div>Categorie Client : *</div>
            <select class="form-select form-select-sm" aria-label=".form-select-lg example"
                name="categorieclient" formControlName="categorieclient">
                  <option selected>ordinaire</option>
                  <option value="fidele">fidele</option>
                  <option value="premium">premium</option>
            </select>
            <div class="alert alert-danger" *ngIf="categorieclient!.invalid && categorieclient!.touched">
                <div *ngIf="categorieclient!.errors?.['required']">
                    * The categorie field is required ! Pick one!
                </div>
            </div>
        </div>

        <div class="form-group">
            <label>Profession : *</label>
            <select class="form-select form-select-sm" aria-label=".form-select-lg example"
               name="profession" formControlName="profession">
                <option selected>docteur</option>
                <option value="ingenieur">ingenieur</option>
                <option value="etudiant">etudiant</option>
                <option value="commercial">commercial</option>
                <option value="cadre">cadre</option>
                <option value="autre">autre</option>
            </select>
            <div class="alert alert-danger" *ngIf="profession!.invalid && profession!.touched">
                <div *ngIf="profession!.errors?.['required']">
                   * The profession field is required ! Pick one!
                </div>
            </div>
        </div>
        <div class="form-group">
            <label>Phone : *</label>
            <input type="phone" name="phone" formControlName="phone">
            <div class="alert alert-danger" *ngIf="phone!.invalid && phone!.touched">
                <div *ngIf="phone!.errors?.['required']">
                    * The phone field is required !
                </div>
                <div *ngIf="phone!.errors?.['pattern']">
                    * Wrong format for the phone field ! it must contain numbers only.
                </div>
            </div> 
        </div>

        <div class="form-group">
            <label>CIN : *</label>
            <input type="number" name="cin" formControlName="cin">
            <div class="alert alert-danger" *ngIf="cin?.invalid && cin!.touched">
                <div *ngIf="cin?.errors?.['required']">
                    * The cin field is required !
                </div>
            </div>
        </div>

        <div class="text-center">
            <button class="btn btn-success" type="submit">Submit</button>
        </div>
    </form>
</div>
</div>