<form>
  <!-- TODO make it a card -->

  <mat-form-field appearance="fill">
    <mat-label for="from">From</mat-label>
    <input matInput type="number" class="example-right-align" placeholder="0" id="from">
    <span matPrefix>$&nbsp;</span>
    <span matSuffix>.00</span>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label for="to">To</mat-label>
    <input matInput type="number" class="example-right-align" placeholder="0" id="to">
    <span matPrefix>$&nbsp;</span>
    <span matSuffix>.00</span>
  </mat-form-field>

  <button mat-button>Filter by price</button>
</form>
